h1{
/* Headline 1 */

font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 101px;
line-height: 121px;

letter-spacing: -0.015em;

}
h2{
/* Headline 2 */

font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 63px;
line-height: 76px;
/* identical to box height */


letter-spacing: -0.005em;  
}
h3{
/* Headline 3 */

font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 63px;
line-height: 76px;
/* identical to box height */

letter-spacing: -0.005em;  
}
h4{
/* Headline 4 */

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 43px;

letter-spacing: 0.0025em;   
}
h5{
/* Headline 5 */

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
/* identical to box height */
}
li{
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;

}
h6{
/* Headline 6 */

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
/* identical to box height */

 
}
p{
/* body 1 */
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 20px;
letter-spacing: 0.005em;
/* identical to box height */

 
}
a{
    /* BUTTON */
font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
/* identical to box height */

letter-spacing: 0.0125em;
}
header{
    justify-content: space-between;
    background-color: blueviolet;
    color: aliceblue;
    height: 100px;
    display: flex;
    align-items: center;

}
.logo{
    margin-left: 115px;
    margin-right: 115px;
}
div img{
    display: block;
    width: 70%;
}
.list_items{
    margin-left: 42px;
    list-style: none;
    padding: auto;
    display: flex;
}
.menu{
    display: flex;
    flex-direction: row;
    margin: 110px;
}
li a{
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 28px;
/* identical to box height */

text-align: center;  
letter-spacing: 0.005em;
text-decoration: none;
color: rgb(255, 255, 255);
}
.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    justify-content: space-between;

}
.about_us{
    margin-top: 160px;
    margin-left: 115px;
    margin-right: 115px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.txt_about_us{
max-width: 911px;
min-height: 383px;  
}
.txt_about_us h2{
    color: orange;

}
.txt_about_us p{
    color: black;

}
.img_about_us{
    float: right;
}
.our_services{
    justify-content: space-between;
    background-color: #D5AAF7;
    margin-top: 160px;
}
.our_services img{
    display: block;
    width: 70%;
    margin: auto;
}
.our_services_box{
    display: flex;
    align-items: center;
    margin-left: 115px;
    margin-right: 115px;
    justify-content: space-between
}

.our_services_card{
    padding-top: 5px;
    width: 480px;
    height: 815px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.txt_our_services h3{
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
    color: #461E66;

}
.txt_our_services p{
    margin-top: 48px;
    height: 205px;  
    color: black;

}
.our_services a{
    text-align: center;
    min-width: 240px;
    max-height: 50px;
    margin-top: 32px;
    margin-bottom: 72px;
    margin: auto;
    display: block;
    background-color: #642A91;
    border: 4px solid #C57AFF;
    border-radius: 50px;
    padding: 16px 32px;
    text-decoration: none;
    color: #E0E9FF;
    ;

}
.why_choose_us{
    margin-top: 160px;
    margin-left: 115px;
    margin-right: 115px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.txt_why_choose_us{
max-width: 911px;
min-height: 383px;  
}
.txt_why_choose_us h2{
    color: orange;

}
.txt_why_choose_us p{
    color: black;

}
.img_why_choose_us{
    display: flex;
    align-items: center;
    height: 500px;
    margin: auto;
}
.img_why_choose_us img{
    height: fit-content;
}

.our_plans{
    justify-content: space-between;
    background-color: #FF9C59;
    margin-top: 160px;
}
.our_plans img{
    display: block;
    width: 70%;
    margin: auto;
}
.our_plans_box{
    display: flex;
    align-items: center;
    margin-left: 115px;
    margin-right: 115px;
    justify-content: space-between
}

.our_plans_card{
    padding-top: 5px;
    width: 480px;
    height: 815px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.txt_our_plans h3{
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
    color: #461E66;

}

.our_plans a{
    text-align: center;
    min-width: 240px;
    max-height: 50px;
    margin-top: 32px;
    margin-bottom: 72px;
    margin: auto;
    display: block;
    background-color: #642A91;
    border: 4px solid #C57AFF;
    border-radius: 50px;
    padding: 16px 32px;
    text-decoration: none;
    color: #E0E9FF;
    ;

}
footer{
    background-color: #642A91;
}
.footer_1{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 400px;
    height: 496px;
    margin-left: 115px;
    margin-right: 115px;
}
.social_media_outer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 438px;
}
.social_media{  
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.social_media img{
    margin: auto;
    max-height: 72px;
    max-width: 72px;
}
.footer_box{
    height: 148px;
    display: flex;
    flex-direction: row;
    width: 1700px;
    justify-content: space-between;
}
.footer_logo{
    height: 148px;
    display: flex;
    align-self: flex-end;
}
.footer_logo img {
    width: fit-content;
    margin: auto;
}
.footer_1 p{
    margin: 0px;
    color: #E0E9FF;
}
.copyright{
    display: flex;
    align-items: flex-end;
}